@import "../../mod/css/var.mod.less";
@import "../../mod/css/common.mod.less";


@width: 900px;
@cv-color: #eee;

body{
	.bc(#B9B4AC);
}
#cv{
	max-width: @width;
	min-width: @min-width;
	min-height: 500px;
	.bc(@cv-color);
	.rel();
	.br(5px);
	margin: 20px auto 100px auto;
	box-sizing: border-box;
	padding: 20px;

	&:before{
		content: ' ';
		left: 10px;
		top: 50px;
		bottom: 0;
		right: 50px;
		.abs();
		.bs(-30px 20px 80px #524E46);
		.br(50px+/+300px);
		z-index: -1;
	}
}

.left{
	width: 30%;
	border-right: 1px solid #ccc;
	// height: 500px;
}


@media screen and (max-width: @width) {
	body{
		.bc(@cv-color);
	}
	#cv{
		margin: 0;
		.br(0);
		&:before{
			display: none;
		}
	}
}


