include ../data/config.jade
include ../data/data.jade

doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title= name + '-个人简历'
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		script.
			// +function(){
			// 	var ua = window.navigator.userAgent;
			// 	if( ua.indexOf('Android') === -1 && ua.indexOf('iPad') === -1 && ua.indexOf('iPhone') === -1 ) location.href = "/";
			// }();
		link(rel='stylesheet', href='css/index.css')
		link(rel='stylesheet', href='../css/icon.css')
	body
		div#cv
			div.basic-info
				div.avatar
					img(src="/img/avatar.png")
				div.name=name
				ul.contact
					li
						i.icon-phone
						span=phone
					li
						i.
				
				

		
			