-
	bgUrl = 'http://imgstore.cdn.sogou.com/app/a/100540002/816020.jpg'
	name = 'fanlinfeng'
	phone = 18565720532
	qq = '583187400'
	email = 'flfwzgl@qq.com'
	github = 'https://github.com/flfwzgl'
	lofter = 'http://flfwzgl.lofter.com'
	location = 'Shenzhen'

	skill_des = [
		"我热爱web前端和CG技术, 对新技术有浓厚兴趣, 希望能找一份web前端开发的工作.",
		"<b>HTML-CSS-JS:</b> 非常熟练使用html(5), css(3), js, 深入理解面向对象编程, 独立实现超轻量DOM节点复杂选择器<a href='https://github.com/flfwzgl/select'>select</a>并兼容到IE6, 并基于此选择器使用伪数组简单实现了一个<a href='https://github.com/flfwzgl/f'>仿jquery</a>",
		"<b>前端常用工具:</b> 非常熟悉CoffeeScript, Less, Jade等并用来提高开发效率, 熟悉Git和SVN版本控制工具, 熟练使用nodejs",
		"<b>前端工程化:</b> 熟悉gulp和gulp插件开发, 熟悉shell脚本, 重度osx用户, 对单页应用前端架构有充分的了解, 熟悉模块化开发, 可独立实现各种单页应用组件, 充分理解CommonJS, AMD",
		"<b>前端性能优化:</b> 熟悉chrome开发者工具, 可从多方面对前端性能进行优化.",
		"<b>跨域和安全:</b> 针对于前后端完全分离可实现不同的跨域方案. 熟悉xss, csrf, sql注入等安全问题, 可有效防范",
		"<b>数据可视化:</b> 熟练使用 D3 和 hightChart 数据可视化工具",
		"<b>后端:</b> 熟练使用 php 和 mysql 在个人项目中开发, 熟悉 MVC 及常用设计模式, 具备nodejs开发经验",
		"<b>3D和设计:</b> 精通Ps, 具备较好美术基础, 网站中所有logo和图标均是我用Ps或Ai绘制. 玩过多年Autodesk Maya, 可制作各种复杂的写实模型, 照片级别渲染图, 熟悉设计和影视后期处理, 对电影级别绑定和动画有较深研究"
	];

	skill_chart = {
		html: 70,
		css: 70,
		js: 80,
		jquery: 80,
		nodejs: 50,
		d3: 30,
		php: 50,
		mysql: 50,
		ps: 95,
		maya: 90
	}

	project = [{
		title: 'sczql',
		name: '环游网',
		des: '是四川中青旅旗下一个网站, 此项目是初学时做的练习, 所以存在很多问题',
		href: 'http://www.sczql.cn'
	}, {
		title: 'move',
		name: 'move',
		des: '是一个js动画库, 包含几种常用的动画, 只要css属性中含有数字的均可用此实现过渡动画.',
		href: 'https://github.com/flfwzgl/move'
	}, {
		title: 'select',
		name: 'select',
		des: '是一个超轻量且兼容到 <font color="#fbb">IE5</font> 的DOM选择器',
		href: 'https://github.com/flfwzgl/select'
	}, {
		title: 'f',
		name: 'f.js',
		des: '是一个功能仿jquery的库, 体积小, 加入了常用的jquery功能, 内部选择器是select',
		href: 'https://github.com/flfwzgl/f'
	}, {
		title: 'cal',
		name: 'calender',
		des: '是一个轻量方便好用的日历组件',
		href: 'http://flfwzgl.github.io/calendar/'
	}]

	info = [{
		title: '○ 英语能力',
		content: '大学英语6级'
	}, {
		title: '○ 教育经历',
		content: '<b>毕业院校: </b>成都信息工程大学<br> <b>专业: </b>电子科学与技术<br><b>学历: </b>本科'
	}, {
		title: '○ 获奖经历',
		content: '获学校Ps大赛三等奖<br>'
	}, {
		title: '○ 关于我',
		content: '我是一个喜欢玩3D软件的前端开发者, 一直以来都想制作炫酷的3D网站或者<a href="http://forums.cgsociety.org/forumdisplay.php?f=121">CG作品</a>, 因此先学习了几年Autodesk Maya 和 Photoshop, 具备制作写实渲染图的能力, 然后做web前端开发. 对设计也很感兴趣. 工作之余写写代码, 搞搞3D作图, 去各大技术社区转转. 非常喜欢和志同道合的人交朋友, 一起探讨技术, 共同进步, 做出富有创造力的作品. 不管怎么说, 只要你对我有兴趣, 可以加我聊聊. ^_^'
	}]










