-
	bgUrl = 'http://imgstore.cdn.sogou.com/app/a/100540002/816020.jpg'
	name = '范林峰'
	phone = 18565720532
	qq = '583187400'
	email = 'flfwzgl@qq.com'
	github = 'https://github.com/flfwzgl'
	lofter = 'http://flfwzgl.lofter.com'
	location = 'Shenzhen'

	skill_des = [
		"我热爱web前端和CG技术, 对新技术有浓厚兴趣, 希望能找一份web前端开发的工作.", 
		"<b>前端:</b> 熟练使用 html(5) 和 css(3) , 对 javascript 有较深入学习, 可用原生 javascript 实现复杂效果, 深入理解面向对象编程, 仿过<a href='http://flfwzgl.sinaapp.com'>京东首页</a>, 自己实现一个超轻量节点选择器 <a href='https://github.com/flfwzgl/select'>select</a>, 并且兼容到 IE6. 熟练使用 CoffeeScript 和 Less, 以及 gulp 等前端自动化工具. 熟悉git和svn使用. 熟悉 CommonJS 和 AMD 规范, 熟悉 HightCharts 和 d3 数据可视化工具.", 
		"<b>后端:</b> 熟练使用 php 和 mysql , 做过简单会员登录系统, 了解 MVC 及常用设计模式, 配合 AJAX 实现无刷新更新.", 
		"<b>CG:</b> 有深厚 Ps 功底, 非常熟练使用 Autodesk Maya 制作各种复杂的写实模型, 照片级别渲染图, 熟悉影视后期, 对电影级别绑定和动画有一定研究."
	];

	skill_chart = {
		html: 70,
		css: 70,
		js: 80,
		jquery: 80,
		nodejs: 50,
		d3: 30,
		php: 50,
		mysql: 50,
		ps: 95,
		maya: 90
	}

	project = [{
		name: '环游网',
		des: '是四川中青旅旗下一个网站, 此项目是初学时做的练习, 所以存在很多问题',
		img: 'img/project/sczql.png',
		href: 'http://www.sczql.cn'
	}, {
		name: 'move',
		des: '是一个js动画库, 包含几种常用的动画, 只要css属性中含有数字的均可用此实现过渡动画.',
		img: 'img/project/move.png',
		href: 'https://github.com/flfwzgl/move'
	}, {
		name: 'select',
		des: '是一个超轻量且兼容到 <font color="#fbb">IE5</font> 的DOM选择器',
		img: 'img/project/select.png',
		href: 'https://github.com/flfwzgl/select'
	}, {
		name: 'f.js',
		des: '是一个功能仿jquery的库, 体积小, 加入了常用的jquery功能, 内部选择器是select',
		img: 'img/project/f.png',
		href: 'https://github.com/flfwzgl/f'
	}, {
		name: 'calender',
		des: '是一个轻量方便好用的日历组件',
		img: 'img/project/calendar.png',
		href: 'http://flfwzgl.github.io/calendar/'
	}]

	info = [{
		title: '○ 英语能力',
		content: '大学英语6级'
	}, {
		title: '○ 教育经历',
		content: '<b>毕业院校: </b>成都信息工程大学<br> <b>专业: </b>电子科学与技术<br><b>学历: </b>本科'
	}, {
		title: '○ 获奖经历',
		content: '获学校Ps大赛三等奖<br>'
	}, {
		title: '○ 关于我',
		content: '我是一个喜欢玩3D软件的前端开发者, 一直以来都想制作炫酷的3D网站或者<a href="http://forums.cgsociety.org/forumdisplay.php?f=121">CG作品</a>, 因此先学习了几年Autodesk Maya 和 Photoshop, 具备制作写实渲染图的能力, 然后做web前端开发. 对设计也很感兴趣. 工作之余写写代码, 搞搞3D作图, 去各大技术社区转转. 非常喜欢和志同道合的人交朋友, 一起探讨技术, 共同进步, 做出富有创造力的作品. 不管怎么说, 只要你对我有兴趣, 可以加我聊聊. <img src="/img/funny.png" style="width: 16px; height:16px">'
	}]










