-
  bgUrl = 'http://imgstore.cdn.sogou.com/app/a/100540002/816020.jpg'
  name = '范林峰'
  phone = 18565720532
  qq = 583187400
  mail = 'flfwzgl@qq.com'
  github = 'https://github.com/flfwzgl'
  lofter = 'http://flfwzgl.lofter.com'

  skill_des = [
    "我热爱web前端和CG技术,对新技术有浓厚兴趣,希望能找一份web前端开发的工作.", 
    "<b>前端:</b> 熟练使用 html(5) 和 css(3) , 对 javascript 有较深入学习, 可用原生 javascript 实现复杂效果, 熟悉面向对象编程,仿过<a href='http://flfwzgl.sinaapp.com'>京东首页</a> 和 <a href='https://github.com/flfwzgl/select'>仿过jquery</a>, 并且兼容低版本IE.", 
    "<b>后端:</b> 熟练使用 php 和 mysql , 做过简单会员登录系统, 了解 MVC 及常用设计模式, 配合 AJAX 实现无刷新更新. 独立完成网站 <a href='http://www.sczql.cn'>环游网</a>", 
    "<b>CG:</b> 有较深 Ps 功底, 非常熟练使用 Autodesk Maya 制作各种复杂的写实模型, 照片级别渲染图, 熟悉影视后期, 对电影级别绑定和动画有一定研究."
  ];

  skill_chart = {
    html: 70,
    css: 70,
    js: 80,
    jquery: 70,
    nodejs: 50,
    d3: 30,
    php: 50,
    mysql: 50,
    ps: 95,
    maya: 90
  }

  project = [{
    name: '环游网',
    des: '是四川中青旅旗下一个网站',
    img: 'img/project/sczql.png',
    href: 'http://www.sczql.cn'
  }, {
    name: 'select',
    des: '是一个功能仿jquery的库, 体积小, 加入了常用的jquery功能',
    img: 'img/project/select.png',
    href: 'https://github.com/flfwzgl/select'
  }, {
    name: 'move',
    des: '是一个js动画库, 包含几种常用的动画',
    img: 'img/project/move.png',
    href: 'https://github.com/flfwzgl/move'
  }, {
    name: 'dom',
    des: '是一个超轻量且兼容到 <font color="#c00">IE5</font> 的选选择器',
    img: 'img/project/dom.png',
    href: 'https://github.com/flfwzgl/dom'
  }]

  info = [{
    title: '○ 英语能力',
    content: '大学英语6级'
  }, {
    title: '○ 教育经历',
    content: '<b>毕业院校: </b>成都信息工程大学<br> <b>专业: </b>电子科学与技术<br><b>学历: </b>本科'
  }, {
    title: '○ 获奖经历',
    content: '获学校Ps大赛三等奖<br>'
  }]