-
	bgUrl = 'http://imgstore.cdn.sogou.com/app/a/100540002/816020.jpg'
	name = '范林峰'
	phone = 18565720532
	qq = 583187400
	mail = 'flfwzgl@qq.com'
	github = 'https://github.com/flfwzgl'
	lofter = 'http://flfwzgl.lofter.com'

	skill_des = [
		"我热爱web前端和CG技术, 对新技术有浓厚兴趣, 希望能找一份web前端开发的工作.", 
		"<b>前端:</b> 熟练使用 html(5) 和 css(3) , 对 javascript 有较深入学习, 可用原生 javascript 实现复杂效果, 深入理解面向对象编程, 仿过<a href='http://flfwzgl.sinaapp.com'>京东首页</a>, 自己实现一个超轻量节点选择器 <a href='https://github.com/flfwzgl/select'>select</a>, 并且兼容到 IE6. 熟练使用 CoffeeScript 和 Less, 以及 gulp 等前端自动化工具. 熟悉git和svn使用. 熟悉 CommonJS 和 AMD 规范, 熟悉 HightCharts 和 d3 数据可视化工具.", 
		"<b>后端:</b> 熟练使用 php 和 mysql , 做过简单会员登录系统, 了解 MVC 及常用设计模式, 配合 AJAX 实现无刷新更新. 独立完成网站 <a href='http://www.sczql.cn'>环游网</a>", 
		"<b>CG:</b> 有深厚 Ps 功底, 非常熟练使用 Autodesk Maya 制作各种复杂的写实模型, 照片级别渲染图, 熟悉影视后期, 对电影级别绑定和动画有一定研究."
	];

	skill_chart = {
		html: 70,
		css: 70,
		js: 80,
		jquery: 70,
		nodejs: 50,
		d3: 30,
		php: 50,
		mysql: 50,
		ps: 95,
		maya: 90
	}

	project = [{
		name: '环游网',
		des: '是四川中青旅旗下一个网站',
		img: 'img/project/sczql.png',
		href: 'http://www.sczql.cn'
	}, {
		name: 'f.js',
		des: '是一个功能仿jquery的库, 体积小, 加入了常用的jquery功能',
		img: 'img/project/f.png',
		href: 'https://github.com/flfwzgl/f'
	}, {
		name: 'move',
		des: '是一个js动画库, 包含几种常用的动画',
		img: 'img/project/move.png',
		href: 'https://github.com/flfwzgl/move'
	}, {
		name: 'select',
		des: '是一个超轻量且兼容到 <font color="#c00">IE5</font> 的选选择器',
		img: 'img/project/select.png',
		href: 'https://github.com/flfwzgl/select'
	}]

	info = [{
		title: '○ 英语能力',
		content: '大学英语6级'
	}, {
		title: '○ 教育经历',
		content: '<b>毕业院校: </b>成都信息工程大学<br> <b>专业: </b>电子科学与技术<br><b>学历: </b>本科'
	}, {
		title: '○ 获奖经历',
		content: '获学校Ps大赛三等奖<br>'
	}, {
		title: '○ 关于我',
		content: '超喜欢3D和前端技术, 对设计也很感兴趣. 现在在深圳一软件公司做前端开发. 工作之余搞搞3D作图, 写点代码. Ps很牛逼, 因为玩过几年3D软件. 经常逛社区刷知乎和微博, 但基本不说话<img src="/img/funny.png" style="width: 16px; height:16px"> , 如果有不错的钱端工作, 欢迎联系我. 如果没有工作推荐, 想和我交朋友或谈朋友等等, 一样可以联系我.'
	}]










